/* Navigation */
#navbar{
    flex-direction: column;
}

/* home section  */
#home{
    height: 370px;
}
#home::before{
    height: 400px;
}

/* services section  */
#services{

}

#services .box{
    flex-direction: column;
}
/* client section  */
#clients{
    overflow: hidden;
}
/* contact us section  */

/* footer  */