/* CSS reset  */
*{
    margin: 0px;
    padding: 0px
}

/* CSS variables */
:root{
    --navbar-height: 59px;
}

/* navigation bar  */

#navbar{
    display: flex;
    align-items: center;
    position:relative;
}

/*  Navigation bar :logo and image  */

/* navigation bar: list styling */

#logo{
    margin:5px 45px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;

}

/* Navigation bar List styling */


#navbar ul{
    display:flex;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li{
    list-style: none;
    font-size: 1.64rem;
    font-weight: bold;
}
#navbar ul li a{
    color:white;
    display: block;
    padding: 3px 22px;
    border-radius:20px;
    text-decoration: none;
    
}
#navbar ul li a:hover{
   color:black;
   background-color: white;
    
}


/* home section  */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 480px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background: url('./img/organicFarm.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 573px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;

    
}
#home h1{
    color: white;
    text-align: center;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
/* services section  */
#services{
    margin: 34px;
    display: flex;   
}
.services-container{
    background-color: #e6f0e2;
    height: 740px;
}
#services .box{
    border: 2px solid brown;
    border: 2px solid brown;
    padding: 34px;
    margin: 25px 6px;
    border-radius: 23px;
    background-color: #b9dbb5de;
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Bree Serif', serif;
}

/* clients section  */
#client-section{
    height: 344px;
}

#client-section::before{
    content: "";
    position: absolute;
    background:url('./img/bg.jpg');
    width: 100%;
    height: 48%;
    z-index: -1;
    opacity: 0.3;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 34px;
}
#clients img{
    height: 124px;
}

/* contact section  */
#contact{
position: relative;
}
#contact::before{
    content: "";     
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('./img/contact.jpg') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
    outline: none;
}
#contact-box form{
    width: 40%;   
}
#contact-box form label{
    font-size: 1.3rem;
    font-size: 'Bree Serif',serif;  
    /* outline: none;  */
}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* utility classes */ 
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}


.btn{
    padding: 6px 20px;
    border:2px solid white;
    background-color: #185505f2;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}

